{%extends 'base.html'%}
{%block head%}
<script type="text/javascript">
function jisuan(){
    // 商品个数
   var count =  $('.cart_list_td').length;
   //插入总计
   $('.total_count em').text(count);
   $('.settlements .col03 b').text(count);
   // 循环计算小计和总计
	var zj = 0;
	$('.cart_list_td').each(function(){
	   // 单价
		var pic = parseFloat($(this).children('.col05').find('em').text());
		var nums = parseInt($(this).find('.num_show').val()).toFixed();
	    var xj = pic*nums;
	    //alert(xj)
	    // 插入小计
		$(this).children('.col07').find('em').text(xj.toFixed(2));
		// 勾选上的总计
		if ($(this).children('.col01').children('input').prop('checked'))
			{
		    	zj+=xj
			};
		//插入总计
		$('.settlements').children('.col03').children('em').text(zj.toFixed(2))
	});

};
//------------------


// ---------删除

  function del(cart_id){
      if(confirm('确定要删除吗?'))
	  {
	      $.get('/cart/delete/',{'goodid':cart_id,},function(data) {
				$('#'+cart_id).remove();
			  	jisuan()

          });

	  };


  };







// 执行部分
$(function(){
    jisuan()
	// 选框部分
	$('#check_all').change(function(){
	   $(':checkbox:not(#check_all)').prop('checked',$(this).prop('checked'));
	    jisuan();
	});

    $(':checkbox:not(#check_all)').change(function(){
        jisuan()
       if($(':checked:not(#check_all)').length == $(':checkbox:not(#check_all)').length)
	   {
	       $('#check_all').prop('checked',true);
	   }
        else
	   {
	       $('#check_all').prop('checked',false);

	   }
	});

	// 增加
	$('.add').click(function(){
	    // 获取商品id和数量
		var goodid = $(this).parents('ul').prop('id');
	    var count = parseInt($(this).next().val());
	    var kucun = parseInt($(this).parents('ul').children('.col03').children('em').text());
	    // 发送请求url(r'^add(\d*)_(\d*)/
		//alert(count)
		//alert(kucun)

		var input_a = $(this);
		if (count >=kucun)
			{
			    count=kucun
				//alert(1111)
				input_a.next().val(count);
			}

		else
		    {


	    $.get('/cart/add_/',{'goodid':goodid,'count':1,'glist':'ok'},function(data){
			input_a.next().val(data.result);
			input_a.next().val(data.result);


		});}
		jisuan()
	});

// ---------------减少
	$('.minus').click(function(){
	    // 获取商品id和数量
		var goodid = $(this).parents('ul').prop('id');
	    var count = parseInt($(this).prev().val());
	    var kucun = parseInt($(this).parents('ul').children('.col03').children('em').text());
	    // 发送请求url(r'^add(\d*)_(\d*)/
		//alert(count)
		//alert(kucun)
		var input_b = $(this);
		if (count <= 1)
			{
			    count=1
				//alert(1111)
				input_b.prev().val(count);
			}

		else
		{

	    $.get('/cart/add_/',{'goodid':goodid,'count':-1,'glist':'ok'},function(data){
			input_b.prev().val(data.result);
			input_b.prev().val(data.result);

		});}
		jisuan();
	});





});

</script>

{%endblock head%}
{%block content%}


	<!--标题部分-->
	<div class="total_count">全部商品<em>0</em>件</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>

	{%for cart in goodscart%}
	<ul class="cart_list_td clearfix" id="{{cart.id}}" >

		<li class="col01"><input type="checkbox" name="" checked="checked"></li>
		<li class="col02"><img src="/static/{{cart.goods.gpic}}"></li>
		<li class="col03"><span>{{cart.goods.gtitle}}</span><br>库存:<em>{{cart.goods.gkucun}}</em></li>
		<li class="col04">{{cart.goods.gunit}}</li>
		<li class="col05"><em>{{cart.goods.gprice}}</em>元</li>

		<li class="col06">
			<div class="num_add">
				<a href="javascript:;" class="add fl">+</a>
				<input type="text" class="num_show fl" value="{{cart.count}}">
				<a href="javascript:;" class="minus fl">-</a>
			</div>
		</li>

		<li class="col07"><em>28</em>元</li>
		<li class="col08"><a href="javascript:del({{cart.id}});" value="0">删除</a></li>

	</ul>
	{%endfor%}


	<ul class="settlements">
		<li class="col01"><input type="checkbox" name="" checked="checked" id="check_all"></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em>42.60</em><br>共计<b></b>件商品</li>
		<li class="col04"><a href="place_order.html">去结算</a></li>
	</ul>

	{%endblock content%}